# Supabase PostgreSQL Configuration
VITE_SUPABASE_URL=https://fcfskctjhqcrjsoubpdw.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZjZnNrY3RqaHFjcmpzb3VicGR3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAwNzYyNTEsImV4cCI6MjEwNTY1MjI1MX0.iut4Ds9gjXjQyosXwIfV2i_xpfMBiXbj9a90x-NqFwA
